<!-- BEGIN LOGIN FORM -->
<div class="anmiate form login_form">
    <section class="login_content">
        <form class="login-form" ng-submit="vm.login()" name="loginForm" novalidate>
            <div class="logo">
                <a href="index.html">
                    <img src="../../../../assets/images/idispense.png" alt="Logo" />
                </a>
            </div>

            <div class="form-group">
                <input class="form-control form-control-solid placeholder-no-fix"
                       type="email"
                       autocomplete="off"
                       placeholder="Email Address"
                       ng-model="vm.email"
                       name="username" />
            </div>
            <div class="form-group">
                <input class="form-control form-control-solid placeholder-no-fix"
                       type="password"
                       autocomplete="off"
                       placeholder="Password"
                       ng-model="vm.password"
                       name="password" />
            </div>
            <div class="error-login" ng-if="vm.hasError">
                {{vm.error}}
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-default login" id="submitButton">Login</button>
                <a ui-sref="forgotPassword" id="forget-password" class="forget-password">Forgot Password?</a>
            </div>

            <div class="separator">
                <div class="copyright"> 2018 © Karis Pharmaceuticals</div>
            </div>
        </form>

        <!-- END LOGIN FORM -->
    </section>
</div>