.custom-modal.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .custom-modal.modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.custom-modal .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.note {
    margin-bottom: 15px;
}

.note-date {
    font-size: 12px;
    padding: 6px;
}
.note-text {
    font-size: 16px;
    color: #51C4D8 !important;
    padding: 6px;
}
.note-header {
    color: #51C4D8 !important;
    font-size: 16px;
}
.header-title .title {
    color: #51C4D8 !important;
}