<div class="credentialing-update-modal">
    <div class="modal-header">
        <h4 class="modal-title">{{vm.messagesData.label.data}} UPDATE</h4>
    </div>
    <form ng-submit="vm.closeModal(vm.messagesData.dataType, vm.messagesData.noteType, vm.messagesData.credentialsField)" name="credentialUpdateForm" novalidate autocomplete="off">
        <div class="modal-body">
            <div class="row">
                <div ng-if="vm.messagesData.dataType == 'organization_npi' || vm.messagesData.dataType == 'ncpdp_number' || vm.messagesData.dataType == 'documents_received'">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="note-header" ng-if="vm.messagesData.dataType !== 'documents_received'">{{vm.messagesData.label.data}}</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-group">
                            <input ng-if="vm.messagesData.dataType !== 'documents_received' && vm.messagesData.dataType == 'organization_npi'" class="form-control" type="text"
                                ng-model="vm.credentialing.data" maxlength="25" />
                            <input ng-if="vm.messagesData.dataType !== 'documents_received' && vm.messagesData.dataType == 'ncpdp_number'" class="form-control" type="text"
                                ng-model="vm.credentialing.data" maxlength="7" />
                        </div>
                    </div>
                </div>
                <div ng-if="vm.messagesData.dataType !== 'organization_npi' &&
                vm.messagesData.dataType !== 'ncpdp_number' && vm.messagesData.dataType !== 'documents_received' &&
                vm.messagesData.dataType !== 'humana' && vm.messagesData.dataType !== 'optum' &&
                vm.messagesData.dataType !== 'psao' && vm.messagesData.dataType !== 'express_scripts' && vm.messagesData.dataType !== 'caremark' &&
                vm.messagesData.dataType !== 'software_and_supplies' ">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="note-header">{{vm.messagesData.label.data}}</label>
                        </div>
                    </div>
                </div>

                <div ng-if="vm.messagesData.dataType == 'ncpdp_number'">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="note-header">CREDENTIALS</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group has-feedback">
                            <label>Username</label>
                            <input type="text" ng-model="vm.credentialing.credentials.ncpdp_number_username" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div ng-if="!vm.showPassword" class="form-group has-feedback">
                            <label>Password</label>
                            <input type="password" ng-model="vm.credentialing.credentials.ncpdp_number_password" class="form-control" autocomplete="new-password">
                            <span ng-if="vm.credentialing.credentials.ncpdp_number_password" ng-click="vm.toggleshowDetails('password')"
                                class="glyphicon glyphicon-eye-open form-control-feedback"
                                style="cursor: pointer; pointer-events: all;">
                            </span>
                        </div>
                        <div ng-if="vm.showPassword" class="form-group has-feedback">
                            <label>Password</label>
                            <input type="text" ng-model="vm.credentialing.credentials.ncpdp_number_password" class="form-control" autocomplete="new-password">
                            <span ng-if="vm.credentialing.credentials.ncpdp_number_password" ng-click="vm.toggleshowDetails('password')"
                                class="glyphicon glyphicon-eye-close form-control-feedback"
                                style="cursor: pointer; pointer-events: all;">
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div ng-if="!vm.showPin" class="form-group has-feedback">
                            <label>PIN</label>
                            <input type="password" ng-model="vm.credentialing.credentials.ncpdp_number_pin" class="form-control"
                                maxlength="4">
                            <span ng-if="vm.credentialing.credentials.ncpdp_number_pin" ng-click="vm.toggleshowDetails('pin')"
                                class="glyphicon glyphicon-eye-open form-control-feedback"
                                style="cursor: pointer; pointer-events: all;">
                            </span>
                        </div>
                        <div ng-if="vm.showPin" class="form-group has-feedback">
                            <label>PIN</label>
                            <input type="text" ng-model="vm.credentialing.credentials.ncpdp_number_pin" class="form-control"
                                maxlength="4">
                            <span ng-if="vm.credentialing.credentials.ncpdp_number_pin" ng-click="vm.toggleshowDetails('pin')"
                                class="glyphicon glyphicon-eye-close form-control-feedback"
                                style="cursor: pointer; pointer-events: all;">
                            </span>
                        </div>
                    </div>
                </div>
                <div ng-if="vm.messagesData.dataType == 'express_scripts'">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="note-header">CREDENTIALS</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group has-feedback">
                            <label>Username</label>
                            <input type="text" ng-model="vm.credentialing.credentials.express_scripts_username" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div ng-if="!vm.showPassword" class="form-group has-feedback">
                            <label>Password</label>
                            <input type="password" ng-model="vm.credentialing.credentials.express_scripts_password"
                                class="form-control" autocomplete="new-password">
                            <span ng-if="vm.credentialing.credentials.express_scripts_password"
                                ng-click="vm.toggleshowDetails('password')" class="glyphicon glyphicon-eye-open form-control-feedback"
                                style="cursor: pointer; pointer-events: all;">
                            </span>
                        </div>
                        <div ng-if="vm.showPassword" class="form-group has-feedback">
                            <label>Password</label>
                            <input type="text" ng-model="vm.credentialing.credentials.express_scripts_password" class="form-control" autocomplete="new-password">
                            <span ng-if="vm.credentialing.credentials.express_scripts_password"
                                ng-click="vm.toggleshowDetails('password')" class="glyphicon glyphicon-eye-close form-control-feedback"
                                style="cursor: pointer; pointer-events: all;">
                            </span>
                        </div>
                    </div>
                </div>
                <div ng-if="vm.messagesData.dataType == 'psao'">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="note-header">CREDENTIALS</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group has-feedback">
                            <label>Username</label>
                            <input type="text" ng-model="vm.credentialing.credentials.psao_username" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div ng-if="!vm.showPassword" class="form-group has-feedback">
                            <label>Password</label>
                            <input type="password" ng-model="vm.credentialing.credentials.psao_password" class="form-control" autocomplete="new-password">
                            <span ng-if="vm.credentialing.credentials.psao_password" ng-click="vm.toggleshowDetails('password')"
                                class="glyphicon glyphicon-eye-open form-control-feedback"
                                style="cursor: pointer; pointer-events: all;">
                            </span>
                        </div>
                        <div ng-if="vm.showPassword" class="form-group has-feedback">
                            <label>Password</label>
                            <input type="text" ng-model="vm.credentialing.credentials.psao_password" class="form-control" autocomplete="new-password">
                            <span ng-if="vm.credentialing.credentials.psao_password" ng-click="vm.toggleshowDetails('password')"
                                class="glyphicon glyphicon-eye-close form-control-feedback"
                                style="cursor: pointer; pointer-events: all;">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="note-header">NOTES</label>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 note">
                    <div class="form-group">
                        <button type="button" ng-click="vm.addNote(vm.messagesData.dataType)" class="btn btn-primary">Add Note</button>
                    </div>
                </div>
                <div ng-repeat="note in vm.notes">
                    <div class="col-sm-3 col-xs-12">
                        <div clas="form-group">
                            <label class="note-date">{{note.date | date}}</label>
                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        <div clas="form-group">
                            <input class="form-control"
                                ng-class="{ 'has-error' : credentialUpdateForm.note.$invalid && !credentialUpdateForm.note.$pristine }"
                                name="note" required type="text" ng-model="note.text" />
                        </div>
                    </div>
                    <div class="col-sm-1 col-xs-12">
                        <div class="form-group navbar-right">
                            <button type="button" ng-click="vm.deleteNote($index)" class="btn btn-primary">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer apg-form">
            <button type="button" class="btn btn-default" ng-click="vm.dismissModal(vm.messagesData.noteType)">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-disabled="credentialUpdateForm.$invalid">Yes, {{vm.messagesData.action}}</button>
        </div>
    </form>
</div>
