<!-- BEGIN CONTENT BODY -->
<div class="customers customer-edit">
    <div class="page-title">
        <div class="title_left" style="width: 100%;">
            <h3>Merge Customer</h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <form ng-submit="vm.save()" name="mergeForm" novalidate>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>Primary Customer</label>
                                    <select class="form-control" ng-model="vm.editableData.primary" ng-change="vm.changeCustomerList('primary')">
                                        <option value="" selected class="hidden">{{vm.filterCustomer.business_name}}</option>
                                        <option ng-repeat="customerPrimary in vm.customersPrimary" value="{{customerPrimary.user}}">{{customerPrimary.business_name}}</option>
                                    </select>
                                    <label>Secondary Customer</label>
                                    <select class="form-control" ng-model="vm.editableData.secondary" ng-change="vm.changeCustomerList('secondary')">
                                        <option value="" selected class="hidden">{{vm.filterCustomer.business_name}}</option>
                                        <option ng-repeat="customerSecondary in vm.customersSecondary" value="{{customerSecondary.user}}">{{customerSecondary.business_name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-info" ui-sref="customers">Back</button>
                        </div>
                        <div class="col-xs-6 text-right">
                            <button type="submit" class="btn btn-primary">Merge</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->