<div class="anmiate form login_form">
    <section class="login_content">
        <form class="login-form" ng-submit="vm.onSubmit(forgotForm)" name="forgotForm" novalidate>
            <div class="logo">
                <a href="index.html">
                    <img src="../../../../assets/images/idispense.png" alt="Logo" />
                </a>
            </div>
            <div ng-if="!vm.done">
                <p> Enter your email address below to reset your password. </p>
                <div class="form-group">
                    <input class="form-control placeholder-no-fix"
                           ng-class="{ 'has-error' : forgotForm.email.$invalid && !forgotForm.email.$pristine }"
                           type="email" autocomplete="off"
                           ng-pattern="vm.pattern.EMAIL"
                           placeholder="Email"
                           name="email"
                           ng-model="vm.email"
                           required />
                </div>

                <div class="pd-bottom-5 error" ng-if="vm.errorMessage">
                    {{vm.errorMessage}}
                </div>

                <div class="form-actions forget-pwd text-center">
                    <button type="button" id="back-btn" class="btn btn-default" ng-click="vm.back()">Back</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="forgotForm.$invalid">Submit</button>
                </div>
            </div>

            <div ng-if="vm.done">
                <p>{{vm.MESSAGES.RESET_PASSWORD_SUCCESS}}</p>
                <div class="text-center">
                    <a class="btn btn-primary" ui-sref="login">Login</a>
                </div>
            </div>

            <div class="separator">
                <div class="copyright"> 2018 © Karis Pharmaceuticals</div>
            </div>
        </form>
    </section>
</div>