container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  04_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  # 05_merge_products:
  #   command: "source /opt/python/run/venv/bin/activate && python manage.py merge_products"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    PYTHONPATH: "/opt/python/current/app:<b>/opt/python/run/venv/lib/python3.6/site-packages:$PYTHONPATH"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "staticfiles/"
