{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% trans 'Karis Pharma Portal Mobile - Forgot Password' %}</title>
</head>

<body>
    <p>{% trans "Pleae enter the token below to reset your password:" %}</p>

    <p>{{ token }}</p>

    <p>{% trans 'If you have any questions, please email us at' %}: <a
            href="mailto:admin@karispharma.com">admin@karispharma.com</a></p>

    <p>
        {% trans 'Thank you!' %}<br />
        {% trans 'Karis Pharma Staff' %}<br />
    </p>
</body>

</html>