{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>{% trans 'Karis Pharma Portal - Forgot Password' %}</title>
  </head>
  <body>
  <p>{% trans "Please follow the link provided below to reset your password:" %}</p>

  <p><a href="{{ current_site }}/#!/resetPassword/{{ uidb64 }}/{{ token }}">{% trans 'Click here to set your password' %}</a></p>

  <p>{% trans 'If you have any questions, please email us at' %}: <a href="mailto:admin@karispharma.com">admin@karispharma.com</a></p>

  <p>
    {% trans 'Thank you!' %}<br />
    {% trans 'Karis Pharma Staff' %}<br/>
  </p>
  </body>
</html>
