<div class="anmiate form login_form">
    <section class="login_content">
        <form class="login-form apg-form" ng-submit="vm.onSubmit(resetForm)" name="resetForm" novalidate>
            <div class="logo">
                <a href="index.html">
                    <img src="../../../../assets/images/idispense.png" alt="Logo" />
                </a>
            </div>

            <div ng-if="!vm.done">
                <div class="form-group">
                    <input class="form-control placeholder-no-fix"
                           ng-class="{ 'has-error' : resetForm.password.$invalid && !resetForm.password.$pristine }"
                           minlength="8"
                           ng-model="vm.new_password1"
                           type="password"
                           autocomplete="off"
                           placeholder="New Password"
                           name="password"
                           required />
                    <div class="pd-bottom-5 error" ng-if="resetForm.password.$invalid && !resetForm.password.$pristine">
                        {{vm.MESSAGES.PASSWORD_MIN_LENGTH_ERROR}}
                    </div>
                </div>


                <div class="form-group">
                    <input class="form-control placeholder-no-fix"
                           ng-class="{ 'has-error' : resetForm.confirm_password.$invalid && !resetForm.confirm_password.$pristine }"
                           type="password"
                           ng-model="vm.new_password2"
                           autocomplete="off"
                           placeholder="Confirm Password"
                           name="confirm_password"
                           ng-pattern="vm.new_password1"
                           required />
                    <div class="pd-bottom-5 error" ng-if="resetForm.password.$valid && resetForm.confirm_password.$invalid && !resetForm.confirm_password.$pristine">
                        {{vm.MESSAGES.CONFIRM_PASSWORD_ERROR}}
                    </div>
                </div>

                <p class="error" ng-if="vm.errorMessage">{{vm.errorMessage}}</p>

                <div class="form-actions forget-pwd text-center">
                    <button type="submit" class="btn btn-primary" ng-disabled="resetForm.$invalid">Submit</button>
                </div>
            </div>

            <div ng-if="vm.done">
                <p>{{vm.MESSAGES.CONFIRM_PASSWORD_SUCCESS}}</p>
                <div class="text-center">
                    <a class="btn btn-primary" ui-sref="login">Login</a>
                </div>
            </div>

            <div class="separator">
                <div class="copyright"> 2018 © Karis Pharmaceuticals</div>
            </div>
        </form>
    </section>
</div>