<!-- BEGIN CONTENT BODY -->
<div class="dispense_history">
    <div class="page-title">
        <div class="title_left">
            <h3>Dispense History</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." ng-model="vm.search">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="vm.onSearch()">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-default" uib-dropdown-toggle>
                                    {{vm.filterCustomer.business_name}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                    <li role="menuitem" ng-class="{'active': vm.filterCustomer.user == ''}">
                                        <a ng-click="vm.changeCustomer({user: '', business_name: '-- Select Customer --'})">-- Select Customer --</a>
                                    </li>
                                    <li role="menuitem" ng-repeat="customer in vm.customers" ng-class="{'active': vm.filterCustomer.user == customer.user}">
                                        <a ng-click="vm.changeCustomer(customer)">{{customer.business_name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="date_picker">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="M!/d!/yyyy" ng-model="vm.filterForm.dateRange.startDate" placeholder="Start Date"
                                           is-open="vm.startDateOpened" ng-focus="vm.openStartDate()" ng-change="vm.fetch()" popup-placement="bottom-right" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.openStartDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="date_picker">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="M!/d!/yyyy" ng-model="vm.filterForm.dateRange.endDate" placeholder="End Date"
                                           is-open="vm.endDateOpened" ng-focus="vm.openEndDate()" ng-change="vm.fetch()" popup-placement="bottom-right" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.openEndDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <table class="table table-striped table-bordered dataTable">
                        <thead>
                            <tr>
                                <th sorted-column="vm.sortParameters" sorted-field="order_date" update-function="vm.fetch()">Date Written</th>
                                <th class="text-nowrap" sorted-column="vm.sortParameters" sorted-field="physician__first_name" update-function="vm.fetch()">Dr Last Name</th>
                                <th sorted-column="vm.sortParameters" sorted-field="product__ndc" update-function="vm.fetch()">NDC</th>
                                <th class="text-nowrap" sorted-column="vm.sortParameters" sorted-field="product__title" update-function="vm.fetch()">Drug Name</th>
                                <th sorted-column="vm.sortParameters" sorted-field="quantity" update-function="vm.fetch()">Qty</th>
                                <th sorted-column="vm.sortParameters" sorted-field="cost" update-function="vm.fetch()">Cost</th>
                                <th class="text-nowrap" sorted-column="vm.sortParameters" sorted-field="total_paid" update-function="vm.fetch()">Total Ins Paid</th>
                                <th sorted-column="vm.sortParameters" sorted-field="dfbypass_margin" update-function="vm.fetch()">Profit</th>
                                <th sorted-column="vm.sortParameters" sorted-field="rx_number" update-function="vm.fetch()">RX</th>
                            </tr>
                        </thead>
                        <tbody ng-if="vm.items.length">
                            <tr ng-repeat="item in vm.items">
                                <td>{{ item.order_date | date }}</td>
                                <td>{{ item.physician.last_name }}</td>
                                <td><a class="btn btn-default btn-sm btn-karis" target="_blank" href="https://dailymed.nlm.nih.gov/dailymed/search.cfm?labeltype=all&query={{item.product.ndc}}">{{item.product.ndc}} <i class="fa fa-folder-open"></i></a></td>
                                <td>{{ item.product.title }}</td>
                                <td>{{ item.quantity | number }}</td>
                                <td>{{ item.cost | currency }}</td>
                                <td>{{ item.total_paid | currency }}</td>
                                <td>{{ item.margin | currency }} </td>
                                <td>{{ item.rx_number }}</td>
                            </tr>
                        </tbody>
                        <tbody ng-if="!vm.items.length">
                            <tr>
                                <td colspan="9" class="text-center">No Dispense History...</td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="vm.items.length">
                            <tr>
                                <th>TOTAL</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>{{ vm.totals.quantity | number }}</th>
                                <th>{{ vm.totals.cost | currency }}</th>
                                <th>{{ vm.totals.total_paid | currency }}</th>
                                <th>{{ vm.totals.margin | currency }} </th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>

                    <div class="row" ng-if="vm.items.length">
                        <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                            <p class="pagination-info">
                                Showing {{(vm.pagination.page - 1) * vm.pagination.limit + 1}} to {{vm.pagination.page * vm.pagination.limit > vm.pagination.count ? vm.pagination.count : vm.pagination.page * vm.pagination.limit}} of {{vm.pagination.count}} entries
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                            <ul uib-pagination total-items="vm.pagination.count"
                                ng-model="vm.pagination.page"
                                max-size="vm.pagination.maxSize"
                                class="pagination-sm"
                                num-pages="vm.pagination.numPages"
                                items-per-page="vm.pagination.limit"
                                ng-change="vm.pageChanged()">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->
